*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Space Grotesk", sans-serif;
	background-color: #050609;
	color: #fff;
}

.profile-card {
	width: 500px;
	height: 500px;
	margin: 100px auto 0;
	background-color: #226ce0;
	display: flex;
	flex-direction: column;
	gap: 50px;
	border-radius: 40px;
}

.profile-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding-top: 40px;
}

.profile-avatar {
	object-fit: cover;
	width: 100px;
	aspect-ratio: 1 / 1;
}

.profile-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.bio-line {
	display: block;
	text-align: center;
}

.links-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.link-button {
	width: 350px;
	height: 50px;
	background-color: blue;
	display: flex;
	text-decoration: none;
	color: inherit;
	margin: 0 auto;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	position: relative;
}

.social-icon {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}
