body {
}

.profile-card {
	width: 500px;
	margin: 100px auto 0;
}

.profile-avatar {
	object-fit: cover;
	width: 100px;
	aspect-ratio: 1 / 1;
}

.links-container {
	display: flex;
	flex-direction: column;
}
